<a href="https://colab.research.google.com/github/VanTrung3007/AI/blob/main/DinhVanTrung-20146197-BT2-AI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lọc huy chương của 1 nước và sắp xếp theo các năm

In [26]:
import pandas as pd       
URL = 'http://winterolympicsmedals.com/medals.csv'
dataframe = pd.read_csv(URL)

In [40]:
GER = dataframe[dataframe['NOC']=='GER']    #Lọc nước Đức
GER.head(200)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
61,1928,St. Moritz,Bobsleigh,Bobsleigh,GER,five-man,M,Bronze
103,1932,Lake Placid,Bobsleigh,Bobsleigh,GER,four-man,M,Bronze
104,1932,Lake Placid,Ice Hockey,Ice Hockey,GER,ice hockey,M,Bronze
147,1936,Garmisch-Partenkirchen,Skating,Figure skating,GER,individual,M,Silver
148,1936,Garmisch-Partenkirchen,Skating,Figure skating,GER,pairs,X,Gold
...,...,...,...,...,...,...,...,...
2174,2006,Turin,Skiing,Cross Country S,GER,sprint 1.5km,W,Silver
2175,2006,Turin,Skiing,Nordic Combined,GER,Individual,M,Gold
2176,2006,Turin,Skiing,Nordic Combined,GER,Individual sprint,M,Bronze
2177,2006,Turin,Skiing,Nordic Combined,GER,Team,M,Silver
2178,2006,Turin,Skiing,Snowboard,GER,Giant parallel slalom,W,Silver

In [47]:
GER['Sport'].value_counts()       #Số môn thể thao nước Đức đã giành được huy chương

Skiing        44
Skating       38
Biathlon      38
Luge          21
Bobsleigh     16
Ice Hockey     1
Name: Sport, dtype: int64

In [48]:
x = GER.drop(GER.columns[0:7],axis=1)  # Tổng số huy chương nước Đức nhận được từ 1928 tới 2006
x.count()

Medal    158
dtype: int64

In [49]:
x.value_counts()      # Tổng số huy chương nhận được phân loại theo bạc, đồng, vàng của nước Đức

Medal
Silver    59
Gold      58
Bronze    41
dtype: int64

In [50]:
y = GER.drop(['NOC','Event','City','Discipline','Event gender'],axis=1)   # Số huy chương theo các năm của nước Đức
y.groupby(["Year","Medal","Sport"]).count()

Empty DataFrame
Columns: []
Index: [(1928, Bronze, Bobsleigh), (1932, Bronze, Bobsleigh), (1932, Bronze, Ice Hockey), (1936, Gold, Skating), (1936, Gold, Skiing), (1936, Silver, Skating), (1936, Silver, Skiing), (1952, Bronze, Skiing), (1952, Gold, Skating), (1952, Silver, Skiing), (1992, Bronze, Bobsleigh), (1992, Bronze, Luge), (1992, Bronze, Skating), (1992, Bronze, Skiing), (1992, Gold, Biathlon), (1992, Gold, Luge), (1992, Gold, Skating), (1992, Silver, Biathlon), (1992, Silver, Bobsleigh), (1992, Silver, Luge), (1992, Silver, Skating), (1994, Bronze, Biathlon), (1994, Bronze, Bobsleigh), (1994, Bronze, Luge), (1994, Bronze, Skating), (1994, Bronze, Skiing), (1994, Gold, Biathlon), (1994, Gold, Bobsleigh), (1994, Gold, Luge), (1994, Gold, Skating), (1994, Gold, Skiing), (1994, Silver, Biathlon), (1994, Silver, Luge), (1994, Silver, Skating), (1994, Silver, Skiing), (1998, Bronze, Biathlon), (1998, Bronze, Bobsleigh), (1998, Bronze, Luge), (1998, Bronze, Skating), (1998, Bronze, Skiing), (1998, Gold, Biathlon), (1998, Gold, Bobsleigh), (1998, Gold, Luge), (1998, Gold, Skating), (1998, Gold, Skiing), (1998, Silver, Biathlon), (1998, Silver, Luge), (1998, Silver, Skating), (1998, Silver, Skiing), (2002, Bronze, Biathlon), (2002, Bronze, Bobsleigh), (2002, Bronze, Luge), (2002, Bronze, Skating), (2002, Bronze, Skiing), (2002, Gold, Biathlon), (2002, Gold, Bobsleigh), (2002, Gold, Luge), (2002, Gold, Skating), (2002, Gold, Skiing), (2002, Silver, Biathlon), (2002, Silver, Bobsleigh), (2002, Silver, Luge), (2002, Silver, Skating), (2002, Silver, Skiing), (2006, Bronze, Biathlon), (2006, Bronze, Luge), (2006, Bronze, Skating), (2006, Bronze, Skiing), (2006, Gold, Biathlon), (2006, Gold, Bobsleigh), (2006, Gold, Luge), (2006, Gold, Skating), (2006, Gold, Skiing), (2006, Silver, Biathlon), (2006, Silver, Luge), (2006, Silver, Skating), (2006, Silver, Skiing)]

[77 rows x 0 columns]

In [53]:
y.groupby(["Sport","Medal"]).count()      #Số huy chương nhận được theo môn thể thao

                   Year
Sport      Medal
Biathlon   Bronze     7
           Gold      14
           Silver    17
Bobsleigh  Bronze     6
           Gold       7
           Silver     3
Ice Hockey Bronze     1
Luge       Bronze     5
           Gold       9
           Silver     7
Skating    Bronze    11
           Gold      14
           Silver    13
Skiing     Bronze    11
           Gold      14
           Silver    19